.first{
	background-image: url('http://eskipaper.com/images/snow-mountain-8.jpg'
	)}

.container{
	text-align: center
	}

.premier{
	height: 700px;
	width: 300px;
	}

.premier{
	background-image: url(http://weknowyourdreams.com/images/mountain/mountain-04.jpg)
	}

.color{color: white;}